<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> .::. Micro ML .::.</title>
</head>

<body>
    <h1 align="center"> Micro ML </h1>

    <div id="upload_file" align="left">
        <h3> Upload Your .csv file</h3>
        <form action="upload" method="post" enctype=multipart/form-data>
            <table>
                <tr>
                    <th>
                        <input type="file" name="file">
                    </th>
                    <th>
                        <input type="submit" value="Upload">
                    </th>
                </tr>
            </table>
        </form>
    </div>

    <div id="upload_directory">
        {% if content is defined %}
        <h3> Select File </h3>
        <form action="select" method="post">
            <select name="selected_file">
                {% for file in content['upload'] %}
                <option value="{{ file }}">{{ file }}</option>
                    <tr>
                        <th>{{ file }}</th>
                    </tr>
                {% endfor %}
            </select>
            <input type="submit" value="Start Process">
        </form>
        {% endif %}
    </div>

    <div>
        {% if session['selected_file'] %}
        <p>Selected file {{ session['selected_file'] }}</p>
        {% endif %}

        {% if session['col_names'] %}
            <form action="process" method="post">
                <h3>Dataset Info</h3>
                <table border="1">
                    <tr>
                        <th>
                            Column Name
                        </th>
                        <th>
                            Mov. Avg
                        </th>
                        <th>
                            Mov. Std
                        </th>
                        <th>
                            Mov. Med
                        </th>
                    </tr>
                    {% for col in session['col_names'] %}
                    <tr>
                        <td>
                            {{ col }}
                        </td>
                        <!-- beg: Feature engineering functionality -->
                        <td>
                            <!-- Moving average -->
                            <input type="text" name="{{ col }}_ma" value="0">
                        </td>
                        <td>
                            <!-- Moving standard deviation -->
                            <input type="text" name="{{ col }}_ms" value="0">
                        </td>
                        <td>
                            <!-- Moving median -->
                            <input type="text" name="{{ col }}_mm" value="0">
                        </td>
                        <!-- eof: Feature engineering functionality -->
                    </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
    <div>
        <h3> Output files </h3>
        {% if content is defined %}
            {% for file in content['output'] %}
                <a href="download/{{ file }}">{{ file }}</a><br>
                {% endfor %}
        {% endif %}
    </div>
</body>
</html>